@model BraAuto.ViewModels.ArticleDetailsModel

@{
    ViewBag.Title = Model.Title;
    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}

<section class="details-hero spad set-bg" data-setbg="/img/blog/details/details-hero-bg.jpg">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="blog-details-hero-text">
                    <span class="label">@Model.Category.Name</span>
                    <h2>@ViewBag.Title</h2>
                    <ul>
                        <li><i class="fa fa-user"></i> <span>By @Model.Creator.Name</span></li>
                        <li><i class="fa fa-calendar"></i> <span>@Model.CreatedAt.ToWebDateFormat()</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details-pic">
                    <img src="@(cloudinaryUrl + Model.PhotoUrl)" alt="">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog-details-text">
                    <p>@Model.Body</p>
                </div>
            </div>
        </div>
    </div>
</section>
