@model BraAuto.ViewModels.ArticleDetailsModel
@inject IConfiguration Configuration

@{
    ViewBag.Title = Model.Title;
    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}

<section class="details-hero spad set-bg" data-setbg="/img/blog/details/details-hero-bg.jpg">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="blog__details__hero__text">
                    <span class="label">@Model.Category.Name</span>
                    <h2>@ViewBag.Title</h2>
                    <ul>
                        <li><i class="fa fa-user"></i> <span>By @Model.Creator.Name</span></li>
                        <li><i class="fa fa-calendar"></i> <span>@Model.CreatedAt.ToWebDateFormat()</span></li>
                        <li><i class="fa fa-edit"></i> <span>2 Comment</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__pic">
                    <img src="@(cloudinaryUrl + Model.PhotoUrl)" alt="">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__text">
                    <p>@Model.Body</p>
                </div>
                <div class="blog__details__share">
                    <a href="#" class="blog__details__share__item">
                        <i class="fa fa-facebook"></i>
                        <span>Share</span>
                    </a>
                    <a href="#" class="blog__details__share__item twitter">
                        <i class="fa fa-twitter"></i>
                        <span>Share</span>
                    </a>
                    <a href="#" class="blog__details__share__item google">
                        <i class="fa fa-google"></i>
                        <span>Share</span>
                    </a>
                    <a href="#" class="blog__details__share__item linkedin">
                        <i class="fa fa-linkedin"></i>
                        <span>Share</span>
                    </a>
                </div>
                <div class="blog__details__comment">
                    <h4>12 Comment</h4>
                    <div class="blog__details__comment__item">
                        <div class="blog__details__comment__item__pic">
                            <img src="img/blog/details/comment-1.png" alt="">
                        </div>
                        <div class="blog__details__comment__item__text">
                            <h6>Brandon Kelley</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                            </p>
                            <a href="#">Like</a>
                            <a href="#">Reply</a>
                        </div>
                    </div>
                    <div class="blog__details__comment__item reply__comment">
                        <div class="blog__details__comment__item__pic">
                            <img src="img/blog/details/comment-2.png" alt="">
                        </div>
                        <div class="blog__details__comment__item__text">
                            <h6>Brandon Kelley</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                            <a href="#">Like</a>
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="blog__details__comment__form">
                    <h4>Leave A Reply</h4>
                    <form action="#">
                        <div class="input-list">
                            <div class="input-list-item">
                                <p>Name</p>
                                <input type="text">
                            </div>
                            <div class="input-list-item">
                                <p>Email</p>
                                <input type="text">
                            </div>
                            <div class="input-list-item">
                                <p>Website</p>
                                <input type="text">
                            </div>
                        </div>
                        <div class="input-desc">
                            <p>Comment</p>
                            <textarea></textarea>
                        </div>
                        <button type="submit" class="site-btn">Submit Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
