@using BraAutoDb.Models

@{
    var loggedUser = (User)ViewBag.LoggedUser;
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__widget row">
        <div class="col-6">
            <a asp-action="Create" asp-controller="Cars" class="primary-btn">Add Car</a>
        </div>
        @if (loggedUser.IsAdmin() || loggedUser.IsBlogger())
        {
            <div class="col-6">
                <a asp-action="Create" asp-controller="Articles" class="primary-btn">Add Article</a>
            </div>
        }
    </div>
    <div class="offcanvas__logo">
        <a asp-action="Home" asp-controller="Cars"><img src="~/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header-logo">
                    <a href="./index.html"><img src="~/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav">
                    <nav class="header__menu">
                        <ul>
                            <li class="@(actionName == "Home" ? "active" : "")"><a asp-action="Home" asp-controller="Cars">Home</a></li>
                            <li class="@(actionName == "Search" && controllerName == "Cars" ? "active" : "")"><a asp-action="Search" asp-controller="Cars">Cars</a></li>
                            <li class="@(actionName == "Search" && controllerName == "Articles" ? "active" : "")"><a asp-action="Search" asp-controller="Articles">Blog</a></li>
                            <li class="@(actionName == "ServiceSearch" && controllerName == "Users" ? "active" : "")"><a asp-action="ServiceSearch" asp-controller="Users">Services</a></li>

                            @if (loggedUser == null)
                            {
                                <li><a asp-action="Login" asp-controller="Users">Login</a></li>
                                <li><a asp-action="Register" asp-controller="Users">Register</a></li>
                            }
                            else
                            {
                                <li class="@(actionName == "My" ? "active" : "")"><a asp-action="My" asp-controller="Cars">Hello "@loggedUser.Username"</a></li>
                            }
                        </ul>
                    </nav>
                    <div class="header__nav__widget">
                        @if (loggedUser != null)
                        {
                            <a asp-action="Create" asp-controller="Cars" class="primary-btn">Add Car</a>
                            @if (loggedUser.IsAdmin() || loggedUser.IsBlogger())
                            {
                                <a asp-action="Create" asp-controller="Articles" class="primary-btn">Add Article</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <span class="fa fa-bars"></span>
        </div>
    </div>
</header>
<!-- Header Section End -->