@model BraAuto.ViewModels.CarSearchBaseModel
@using BraAuto.ViewModels;
@using BraAutoDb.Models
@inject IConfiguration Configuration

@{
    var loggedUser = (User)ViewBag.LoggedUser;
    var isAdminPage = Model is CarAdminModel;
    var isFavouritePage = Model is FavouriteCarModel;
    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}

<section class="car spad">
    <div class="container">
        <div class="row">
            <partial name="~/Views/Users/_UserSettingsPartial.cshtml">
                @if (Model.Response.Records.IsNullOrEmpty())
                {
                    <div class="col-lg-9">There are no cars yet.</div>

                    return;
                }
                <div class="col-lg-9">
                    <partial name="_OrderListPartial" model="Model.ToPager()"/>
                    <partial name="_AlertPartial" />

                    <table class="table table-hover">
                        <thead>
                            <tr class="my-car-settings-thead">
                                <th scope="col"></th>
                                <th scope="col">Car</th>
                                @if (!isFavouritePage)
                                {
                                    <th scope="col">Approved</th>
                                    <th scope="col">Added To Favourite</th>
                                }
                                @if (loggedUser.IsAdmin() && isAdminPage)
                                {
                                    <th scope="col">Creator</th>
                                }
                                <th scope="col">Created At</th>
                                @if (!isFavouritePage)
                                {
                                    <th scope="col">Edited At</th>
                                    <th scope="col"></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var car in Model.Response.Records)
                            {
                                <tr>
                                    <td><img class="table-photo" src="@(cloudinaryUrl + car.PhotoUrls.FirstOrDefault())" /></td>
                                    <td class="align-middle"><a asp-action="Details" asp-route-id="@car.Id">@car.Model.Make.Name @car.Model.Name @car.Variant</a></td>
                                    @if (!isFavouritePage)
                                    {
                                        <td class="align-middle">
                                            @if (car.IsApproved)
                                            {
                                                <a id="@car.Id" class="disapprove"><i class="fa fa-check-circle"></i></a>
                                            }
                                            else
                                            {
                                                <a id="@car.Id" class="approve"><i class="fa-regular fa-circle"></i></a>
                                            }
                                        </td>
                                        <td class="align-middle">@(Model.FavouriteCount.FirstOrDefault(fc => fc.CarId == car.Id).Count)</td>
                                    }
                                    @if (loggedUser.IsAdmin() && isAdminPage)
                                    {
                                        <td class="align-middle">@car.Creator.Name</td>
                                    }
                                    <td class="align-middle">@car.CreatedAt.ToWebDateFormat(showTime: true)</td>
                                    @if (!isFavouritePage)
                                    {
                                        <td class="align-middle">@car.EditedAt.ToWebDateFormat(showTime:true)</td>
                                        <td class="text-nowrap align-middle ms-3">
                                            <a asp-action="Edit" asp-route-id="@car.Id" title="Edit" data-bs-toggle="tooltip" data-placement="bottom"><i class="fas fa-edit"></i></a>
                                            <a asp-action="Delete" asp-route-id="@car.Id" title="Delete" data-bs-toggle="tooltip" data-placement="bottom" class="confirm-dialog-trigger" data-dialog-title="Delete" data-dialog-message="Are you sure you want to delete @car.Model.Make.Name @car.Model.Name @car.Variant?"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="_PagedListPartial" model="Model.ToPager()" />
                </div>
        </div>
    </div>
</section>

@if (loggedUser.IsAdmin() && isAdminPage)
{
    <script>
        $(document).ready(function () {
            $(".approve").attr("title", "Approve Advert");
            $(".disapprove").attr("title", "Disapprove Advert");

            $(".approve").css("cursor", "pointer");
            $(".disapprove").css("cursor", "pointer");

            $(".approve").on("click", function () {
                statusChange($(this).attr("id"), true);
            });

            $(".disapprove").on("click", function () {
                statusChange($(this).attr("id"), false);
            });

            function statusChange(id, status) {
                $.ajax({
                    url: @Html.Raw(Json.Serialize(Url.Action("StatusChange", "CarsApi"))),
                    type: 'GET',
                    data: { id, status },
                    success: function (response, status, xhr) {
                        if (response) {
                            location.reload();
                        }
                    }
                });
            }
        });
    </script>
}