@model BraAuto.ViewModels.CarCompareModel
@inject IConfiguration Configuration

@{
    ViewBag.StikyHeader = true;
    ViewBag.ShowFooter = false;

    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}

<section class="car-details spad sticky-content">
    <div class="d-flex ms-3 me-3">
        @foreach (var car in Model.Cars)
        {
            <div class="col-lg-4 me-2">
                <div class="car-details-pic">
                    <div>
                        <img class="compare-car-photo" src="@(cloudinaryUrl + car.PhotoUrls.FirstOrDefault())" alt="">
                    </div>
                </div>
                <div class="car-details-tab">
                    <ul class="nav nav-tabs" id="details-car-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link active" id="vehicle-overview-@car.Id" data-bs-toggle="tab" data-bs-target="#vehicle-overview-pane-@car.Id" role="tab" aria-controls="vehicle-overview-pane-@car.Id" aria-selected="true">
                                Vehicle
                                Overview
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" id="technical-@car.Id" data-bs-toggle="tab" data-bs-target="#technical-pane-@car.Id" role="tab" aria-controls="technical-pane-@car.Id" aria-selected="false">Technical</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" id="features-and-options-@car.Id" data-bs-toggle="tab" data-bs-target="#features-and-options-pane-@car.Id" role="tab" aria-controls="features-and-options-pane-@car.Id" aria-selected="false">Features & Options</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" id="contacts-@car.Id" data-bs-toggle="tab" data-bs-target="#contacts-pane-@car.Id" role="tab" aria-controls="contacts-pane-@car.Id" aria-selected="false">Contacts</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="details-car-tab-content">
                        <div class="tab-pane fade show active" id="vehicle-overview-pane-@car.Id" role="tabpanel" aria-labelledby="vehicle-overview-@car.Id" tabindex="0">
                            <div class="list-info-item">
                                <h5><label asp-for="@car.Description"></label></h5>
                                <br />
                                @car.Description
                            </div>
                        </div>
                        <div class="tab-pane fade" id="technical-pane-@car.Id" role="tabpanel" aria-labelledby="technical-@car.Id" tabindex="0">
                            <div class="list-info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="list-info-item">
                                            <h5>General Information</h5>
                                            <ul>
                                                <li>
                                                    <i class="fa fa-car"></i><label asp-for="@car.BodyType"></label>: @car.BodyType
                                                </li>
                                                <li>
                                                    <i class="fa fa-warehouse"></i><label asp-for="@car.Condition"></label>: @car.Condition
                                                </li>
                                                <li>
                                                    <i class="fa fa-calendar"></i><label asp-for="@car.ProductionDate"></label>: @car.ProductionDate
                                                </li>
                                                <li>
                                                    <i class="fa fa-paint-brush"></i><label asp-for="@car.Color"></label>: @car.Color
                                                </li>
                                                <li>
                                                    <i class="fa fa-gas-pump"></i><label asp-for="@car.FuelType"></label>: @car.FuelType
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="list-info-item">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-gear"></i> <label asp-for="@car.GearboxType"></label>: @car.GearboxType
                                                <li>
                                                    <i class="fa-solid fa-horse-head"></i> <label asp-for="@car.HorsePower"></label>: @car.HorsePower
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-horse-head"></i> <label asp-for="@car.Cc"></label>: @car.Cc
                                                </li>
                                                <li>
                                                    <i class="fa fa-leaf"></i> <label asp-for="@car.EuroStandart"></label>: @car.EuroStandart
                                                </li>
                                                <li>
                                                    <i class="fa fa-road"></i> <label asp-for="@car.Mileage"></label>: @car.Mileage km
                                                </li>
                                                <li>
                                                    <i class="fa fa-door-closed"></i> <label asp-for="@car.DoorNumber"></label>: @car.DoorNumber
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="features-and-options-pane-@car.Id" role="tabpanel" aria-labelledby="features-and-options-@car.Id" tabindex="0">
                            <div class="list-info">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="list-info-item">
                                            <h5>Safety</h5>
                                            <ul>
                                                <li><i class="@(car.HasAbs ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasAbs"></label></li>
                                                <li><i class="@(car.HasEsp ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasEsp"></label></li>
                                                <li><i class="@(car.HasAirBag ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasAirBag"></label></li>
                                                <li><i class="@(car.HasTractionControl ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasTractionControl"></label></li>
                                                <li><i class="@(car.HasParktronic ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasParktronic"></label></li>
                                                <li><i class="@(car.HasCentralLock ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasCentralLock"></label></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="list-info-item">
                                            <h5>Interior</h5>
                                            <ul>
                                                <li><i class="@(car.HasLetherInterior ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasLetherInterior"></label></li>
                                                <li><i class="@(car.IsRightHandDrive ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.IsRightHandDrive"></label></li>
                                                <li><i class="@(car.HasMoreSeats ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasMoreSeats"></label></li>
                                            </ul>
                                            <h5 class="mt-3">Exterior</h5>
                                            <ul>
                                                <li><i class="@(car.HasSunroof ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasSunroof"></label></li>
                                                <li><i class="@(car.HasAlloyWheels ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasAlloyWheels"></label></li>
                                                <li><i class="@(car.HasXenonLights ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasXenonLights"></label></li>
                                                <li><i class="@(car.HasHalogenHeadlights ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasHalogenHeadlights"></label></li>
                                                <li><i class="@(car.HasPanoramicRoof ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasPanoramicRoof"></label></li>
                                                <li><i class="@(car.HasTow ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasTow"></label></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="list-info-item">
                                            <h5>Comfort</h5>
                                            <ul>
                                                <li><i class="@(car.HasAirConditioning ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasAirConditioning"></label></li>
                                                <li><i class="@(car.HasClimatronic ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasClimatronic"></label></li>
                                                <li><i class="@(car.HasElectricWindows ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasElectricWindows"></label></li>
                                                <li><i class="@(car.HasElectricMirrors ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasElectricMirrors"></label></li>
                                                <li><i class="@(car.HasElectricSeats ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasElectricSeats"></label></li>
                                                <li><i class="@(car.HasSeatHeating ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasSeatHeating"></label></li>
                                                <li><i class="@(car.HasStereo ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasStereo"></label></li>
                                                <li><i class="@(car.HasDvdTv ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasDvdTv"></label></li>
                                                <li><i class="@(car.HasMultiSteeringWheel ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasMultiSteeringWheel"></label></li>
                                                <li><i class="@(car.IsKeyless ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.IsKeyless"></label></li>
                                                <li><i class="@(car.IsTiptronicMultitronic ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.IsTiptronicMultitronic"></label></li>
                                                <li><i class="@(car.HasAutopilot ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasAutopilot"></label></li>
                                                <li><i class="@(car.HasPowerSteering ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasPowerSteering"></label></li>
                                                <li><i class="@(car.HasOnboardComputer ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasMultiSteeringWheel"></label></li>
                                                <li><i class="@(car.HasNavigationSystem ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasNavigationSystem"></label></li>
                                                <li><i class="@(car.HasRefrigerator ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasRefrigerator"></label></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="list-info-item">
                                            <h5>Protection</h5>
                                            <ul>
                                                <li><i class="@(car.HasImmobilizer ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasImmobilizer"></label></li>
                                                <li><i class="@(car.HasAlarm ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasAlarm"></label></li>
                                                <li><i class="@(car.IsArmored ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.IsArmored"></label></li>
                                            </ul>
                                            <h5 class="mt-3">Other</h5>
                                            <ul>
                                                <li><i class="@(car.HasAllWheelDrive ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasAllWheelDrive"></label></li>
                                                <li><i class="@(car.HasInsurance ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasInsurance"></label></li>
                                                <li><i class="@(car.HasServiceBook ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasServiceBook"></label></li>
                                                <li><i class="@(car.HasWarranty ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasWarranty"></label></li>
                                                <li><i class="@(car.HasTuning ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.HasTuning"></label></li>
                                                <li><i class="@(car.IsTaxi ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.IsTaxi"></label></li>
                                                <li><i class="@(car.IsRetro ? "fa fa-check-circle" : "")"></i> <label asp-for="@car.IsRetro"></label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contacts-pane-@car.Id" role="tabpanel" aria-labelledby="contacts-@car.Id" tabindex="0">
                            <div class="list-info-item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car-details-tab-info-item">
                                            <h5>Vehicle Location</h5>
                                            <ul>
                                                <li><i class="fa fa-map-marker"></i><label asp-for="@car.Location"></label>: @car.Location</li>
                                                <li><i class="fa fa-location-crosshairs"></i><label asp-for="@car.SpecificLocation"></label>: @car.SpecificLocation</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="list-info-item">
                                            <h5>Owner Contacts</h5>
                                            <ul>
                                                <li><i class="fa fa-user"></i> <label asp-for="@car.OwnerName"></label>: @car.OwnerName</li>
                                                <li><i class="fa fa-mobile"></i> <label asp-for="@car.Mobile"></label>: @car.Mobile</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<script>
    $(document).ready(function(){
        var $el = $(window);
        var lastY = $el.scrollTop();
        var $header = $("#header");

        $el.on('scroll', function () {
            var currY = $el.scrollTop();

            var hideHeader = (currY > lastY) ? true : ((currY === lastY) ? false : true);

            if(hideHeader && currY > 39){
                $header.hide();
            }

            lastY = currY

            if(currY <= 39){
                $header.show();
            }
        });
    });
</script>