@model BraAuto.ViewModels.CarDetailsModel
@inject IConfiguration Configuration

@{
    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}

<section class="car-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="car__details__pic">
                    <div class="car__details__pic__large">
                        <img class="car-big-img" src="@(cloudinaryUrl + Model.ImgUrls.FirstOrDefault())" alt="">
                    </div>
                    <div class="car-thumbs">
                        <div class="car-thumbs-track car__thumb__slider owl-carousel">
                            @foreach(var url in Model.ImgUrls)
                            {
                                <div class="ct" data-imgbigurl="@(cloudinaryUrl + url)">
                                    <img src="@(cloudinaryUrl + url)" alt="">
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="car__details__tab">
                    <ul class="nav nav-tabs" id="details-car-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link active" id="vehicle-overview" data-bs-toggle="tab" data-bs-target="#vehicle-overview-pane" role="tab" aria-controls="vehicle-overview-pane" aria-selected="true">
                                Vehicle
                                Overview
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" id="technical" data-bs-toggle="tab" data-bs-target="#technical-pane" role="tab" aria-controls="technical-pane" aria-selected="false">Technical</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" id="features-and-options" data-bs-toggle="tab" data-bs-target="#features-and-options-pane" role="tab" aria-controls="features-and-options-pane" aria-selected="false">Features & Options</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" id="contacts" data-bs-toggle="tab" data-bs-target="#contacts-pane" role="tab" aria-controls="contacts-pane" aria-selected="false">Contacts</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="details-car-tab-content">
                        <div class="tab-pane fade show active" id="vehicle-overview-pane" role="tabpanel" aria-labelledby="vehicle-overview" tabindex="0">
                            <div class="car__details__tab__info__item">
                                <h5>@Html.DisplayNameFor(model => model.Description)</h5>
                                <br />
                                @Html.DisplayFor(model => model.Description)
                            </div>
                        </div>
                        <div class="tab-pane fade" id="technical-pane" role="tabpanel" aria-labelledby="technical" tabindex="0">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>General Information</h5>
                                            <ul>
                                                <li>
                                                    <i class="fa fa-car"></i>@Html.DisplayNameFor(model => model.BodyType): @Html.DisplayFor(model => model.BodyType)
                                                </li>
                                                <li>
                                                    <i class="fa fa-warehouse"></i>@Html.DisplayNameFor(model => model.Condition): @Html.DisplayFor(model => model.Condition)
                                                </li>
                                                <li>
                                                    <i class="fa fa-calendar"></i>@Html.DisplayNameFor(model => model.ProductionDate): @Html.DisplayFor(model => model.ProductionDate)
                                                </li>
                                                <li>
                                                    <i class="fa fa-paint-brush"></i>@Html.DisplayNameFor(model => model.Color): @Html.DisplayFor(model => model.Color)
                                                </li>
                                                <li>
                                                    <i class="fa fa-gas-pump"></i>@Html.DisplayNameFor(model => model.FuelType): @Html.DisplayFor(model => model.FuelType)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-gear"></i> @Html.DisplayNameFor(model => model.GearboxType): @Html.DisplayFor(model => model.GearboxType)
                                                <li>
                                                    <i class="fa-solid fa-horse-head"></i> @Html.DisplayNameFor(model => model.HorsePower): @Html.DisplayFor(model => model.HorsePower)
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-horse-head"></i> @Html.DisplayNameFor(model => model.Cc): @Html.DisplayFor(model => model.Cc)
                                                </li>
                                                <li>
                                                    <i class="fa fa-leaf"></i> @Html.DisplayNameFor(model => model.EuroStandart): @Html.DisplayFor(model => model.EuroStandart)
                                                </li>
                                                <li>
                                                    <i class="fa fa-road"></i> @Html.DisplayNameFor(model => model.Mileage): @Html.DisplayFor(model => model.Mileage) km
                                                </li>
                                                <li>
                                                    <i class="fa fa-door-closed"></i> @Html.DisplayNameFor(model => model.DoorNumber): @Html.DisplayFor(model => model.DoorNumber)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="features-and-options-pane" role="tabpanel" aria-labelledby="features-and-options" tabindex="0">
                            <div class="car__details__tab__feature">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Safety</h5>
                                            <ul>
                                                <li><i class="@(Model.HasAbs ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasAbs)</li>
                                                <li><i class="@(Model.HasEsp ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasEsp)</li>
                                                <li><i class="@(Model.HasAirBag ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasAirBag)</li>
                                                <li><i class="@(Model.HasTractionControl ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasTractionControl)</li>
                                                <li><i class="@(Model.HasParktronic ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasParktronic)</li>
                                                <li><i class="@(Model.HasCentralLock ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasCentralLock)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Interior</h5>
                                            <ul>
                                                <li><i class="@(Model.HasLetherInterior ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasLetherInterior)</li>
                                                <li><i class="@(Model.IsRightHandDrive ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.IsRightHandDrive)</li>
                                                <li><i class="@(Model.HasMoreSeats ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasMoreSeats)</li>
                                            </ul>
                                            <h5 class="mt-3">Exterior</h5>
                                            <ul>
                                                <li><i class="@(Model.HasSunroof ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasSunroof)</li>
                                                <li><i class="@(Model.HasAlloyWheels ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasAlloyWheels)</li>
                                                <li><i class="@(Model.HasXenonLights ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasXenonLights)</li>
                                                <li><i class="@(Model.HasHalogenHeadlights ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasHalogenHeadlights)</li>
                                                <li><i class="@(Model.HasPanoramicRoof ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasPanoramicRoof)</li>
                                                <li><i class="@(Model.HasTow ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasTow)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Comfort</h5>
                                            <ul>
                                                <li><i class="@(Model.HasAirConditioning ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasAirConditioning)</li>
                                                <li><i class="@(Model.HasClimatronic ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasClimatronic)</li>
                                                <li><i class="@(Model.HasElectricWindows ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasElectricWindows)</li>
                                                <li><i class="@(Model.HasElectricMirrors ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasElectricMirrors)</li>
                                                <li><i class="@(Model.HasElectricSeats ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasElectricSeats)</li>
                                                <li><i class="@(Model.HasSeatHeating ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasSeatHeating)</li>
                                                <li><i class="@(Model.HasStereo ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasStereo)</li>
                                                <li><i class="@(Model.HasDvdTv ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasDvdTv)</li>
                                                <li><i class="@(Model.HasMultiSteeringWheel ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasMultiSteeringWheel)</li>
                                                <li><i class="@(Model.IsKeyless ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.IsKeyless)</li>
                                                <li><i class="@(Model.IsTiptronicMultitronic ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.IsTiptronicMultitronic)</li>
                                                <li><i class="@(Model.HasAutopilot ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasAutopilot)</li>
                                                <li><i class="@(Model.HasPowerSteering ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasPowerSteering)</li>
                                                <li><i class="@(Model.HasOnboardComputer ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasMultiSteeringWheel)</li>
                                                <li><i class="@(Model.HasNavigationSystem ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasNavigationSystem)</li>
                                                <li><i class="@(Model.HasRefrigerator ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasRefrigerator)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item">
                                            <h5>Protection</h5>
                                            <ul>
                                                <li><i class="@(Model.HasImmobilizer ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasImmobilizer)</li>
                                                <li><i class="@(Model.HasAlarm ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasAlarm)</li>
                                                <li><i class="@(Model.IsArmored ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.IsArmored)</li>
                                            </ul>
                                            <h5 class="mt-3">Other</h5>
                                            <ul>
                                                <li><i class="@(Model.HasAllWheelDrive ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasAllWheelDrive)</li>
                                                <li><i class="@(Model.HasInsurance ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasInsurance)</li>
                                                <li><i class="@(Model.HasServiceBook ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasServiceBook)</li>
                                                <li><i class="@(Model.HasWarranty ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasWarranty)</li>
                                                <li><i class="@(Model.HasTuning ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.HasTuning)</li>
                                                <li><i class="@(Model.IsTaxi ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.IsTaxi)</li>
                                                <li><i class="@(Model.IsRetro ? "fa fa-check-circle" : "")"></i> @Html.DisplayNameFor(model => model.IsRetro)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contacts-pane" role="tabpanel" aria-labelledby="contacts" tabindex="0">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>Vehicle Location</h5>
                                            <ul>
                                                <li><i class="fa fa-map-marker"></i>@Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)</li>
                                                <li><i class="fa fa-location-crosshairs"></i>@Html.DisplayNameFor(model => model.SpecificLocation): @Html.DisplayFor(model => model.SpecificLocation)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>Owner Contacts</h5>
                                            <ul>
                                                <li><i class="fa fa-user"></i> @Html.DisplayNameFor(model => model.OwnerName): @Html.DisplayFor(model => model.OwnerName)</li>
                                                <li><i class="fa fa-mobile"></i> @Html.DisplayNameFor(model => model.Mobile): @Html.DisplayFor(model => model.Mobile)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="car__details__sidebar">
                    @if (!string.IsNullOrEmpty(Model.Vin))
                    {
                        <div class="car__details__sidebar__model">
                            <ul>
                                <li>@Html.DisplayNameFor(model => model.Vin) <span>@Html.DisplayFor(model => model.Vin)</span></li>
                            </ul>
                        </div>
                    }
                    <div class="car__details__sidebar__payment">
                        <ul>
                            <li>@Html.DisplayNameFor(model => model.Price) <span>@Html.DisplayFor(model => model.Price) lv</span></li>
                        </ul>

                        <a href="#" class="primary-btn sidebar-btn"><i class="fa fa-sliders"></i> Service Check</a>
                        <a href="#" class="primary-btn c-white"><i class="fa fa-heart"></i> Add To Favourite</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>