@model BraAuto.ViewModels.HomeCarSearchModel
@inject IConfiguration Configuration

@{
    ViewBag.Title = "Home";

    ViewBag.FullPageWidth = true;
    ViewBag.ShowHeader = true;
    ViewBag.RegisterLazyMultiselect = true;

    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}
<div id="preloder">
    <div class="loader"></div>
</div>

<section class="hero spad set-bg" data-setbg="../img/hero-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-lg-5">
                <div class="hero-tab">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="hero-tab-form">
                                <h2>Find Your Dream Car</h2>
                                <form asp-action="Search" asp-controller="Cars" method="GET">
                                    <div class="select-list">
                                        <div class="select-list-item">
                                            <label asp-for="YearFromId" class="form-label"></label>
                                            <select class="form-select" asp-for="MakeId" asp-items="@(new SelectList(Model.Years.Select(y => new { Fullname = y.Name, Id = y.Id}), "Id", "Fullname"))">
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <label asp-for="YearToId" class="form-label"></label>
                                            <select class="form-select" asp-for="YearToId" asp-items="@(new SelectList(Model.Years.Select(y => new { Fullname = y.Name, Id = y.Id}), "Id", "Fullname"))">
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <label asp-for="MakeId" class="form-label"></label>
                                            <select class="form-select" asp-for="MakeId" asp-items="@(new SelectList(Model.Makes.Select(y => new { Fullname = y.Name, Id = y.Id}), "Id", "Fullname"))">
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <label asp-for="ModelIds" class="form-label"></label>
                                            <lazymultiselect asp-for="ModelIds" lms-request-url="@Url.Action("GetByMakeId", "ModelsApi", new { area = "" })?makeId='+$('#MakeId').val()+'" lms-map-func="response.map(function(m){ return { value: m.id, label: ' '+m.name }; })" lms-config="buttonText: 'Selected', noneSelectedText: '-- All --', buttonClass: 'form-select', reloadOnOpen: true"></lazymultiselect>
                                        </div>
                                        <div class="select-list-item">
                                            <label asp-for="BodyTypeIds" class="form-label"></label>
                                            <lazymultiselect asp-for="BodyTypeIds" lms-request-url="@Url.Action("GetAll", "BodyTypesApi", new { area = "" })" lms-map-func="response.map(function(bt){ return { value: bt.id, label: ' '+bt.name }; })" lms-config="buttonText: 'Selected', noneSelectedText: '-- All --', buttonClass: 'form-select'"></lazymultiselect>
                                        </div>
                                        <div class="select-list-item">
                                            <label asp-for="FuelTypeIds" class="form-label"></label>
                                            <lazymultiselect asp-for="FuelTypeIds" lms-request-url="@Url.Action("GetAll", "FuelTypesApi", new { area = "" })" lms-map-func="response.map(function(ft){ return { value: ft.id, label: ' '+ft.name }; })" lms-config="buttonText: 'Selected', noneSelectedText: '-- All --', buttonClass: 'form-select'"></lazymultiselect>
                                        </div>
                                    </div>
                                    <div class="car-price">
                                        <p>Price Range:</p>
                                        <div class="price-range-wrap">
                                            <div class="price-range"></div>
                                            <div class="range-slider">
                                                <div class="price-input">
                                                    <input type="text" id="amount">
                                                    <input type="hidden" asp-for="PriceFrom">
                                                    <input type="hidden" asp-for="PriceTo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" value="Search" class="site-btn" />
                                    <a href="@Url.Action(action: null, controller: null)" class="btn btn btn-outline-info"><i class="fas fa-times"></i></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="car spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Car</span>
                    <h2>Best Vehicle Offers</h2>
                </div>
                <ul class="filter-controls">
                    <li class="active" data-filter=".most-viewed">Most Viewd This Week</li>
                    <li data-filter=".newest">Latest on sale</li>
                </ul>
            </div>
        </div>
        <div class="row car-filter">
            @foreach (var car in Model.MostViewedCars)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix most-viewed">
                    <div class="car-item">
                        <div class="car-item-pic-slider owl-carousel">
                            @foreach (var photoUrl in car.PhotoUrls)
                            {
                                <img src="@(cloudinaryUrl + photoUrl)" alt="">

                            }
                        </div>
                        <div class="car-item-text">
                            <div class="car-item-text-inner">
                                <div class="label-date">@car.ProductionDate.ToWebDateFormat(showDay:false)</div>
                                <h5><a asp-action="Details" asp-route-id="@car.Id">@car.Model.Make.Name @car.Model.Name @car.Variant</a></h5>
                                <ul>
                                    <li><span>@car.Mileage</span> km</li>
                                    <li>@car.GearboxType.Name</li>
                                    <li><span>@car.HorsePower</span> hp</li>
                                </ul>
                            </div>
                            <div class="car-item-price">
                                <span class="car-option">Price</span>
                                <h6>@car.Price lv.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var car in Model.NewestCars)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix newest">
                    <div class="car-item">
                        <div class="car-item-pic-slider owl-carousel">
                            @foreach (var photoUrl in car.PhotoUrls)
                            {
                                <img src="@(cloudinaryUrl + photoUrl)" alt="">

                            }
                        </div>
                        <div class="car-item-text">
                            <div class="car-item-text-inner">
                                <div class="label-date">@car.ProductionDate.ToWebDateFormat(showDay:false)</div>
                                <h5><a asp-action="Details" asp-route-id="@car.Id">@car.Model.Make.Name @car.Model.Name @car.Variant</a></h5>
                                <ul>
                                    <li><span>@car.Mileage</span> km</li>
                                    <li>@car.GearboxType.Name</li>
                                    <li><span>@car.HorsePower</span> hp</li>
                                </ul>
                            </div>
                            <div class="car-item-price">
                                <span class="car-option">Price</span>
                                <h6>@car.Price lv.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Blog</span>
                    <h2>Latest News Updates</h2>
                    <p>
                        Find the best articles from automotive world here.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var article in Model.NewestArticles)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="latest-blog-item">
                        <div class="latest-blog-item-pic set-bg" data-setbg="@(cloudinaryUrl + article.PhotoUrl)">
                            <ul>
                                <li>By @article.Creator.Name</li>
                                <li>@article.CreatedAt.ToWebDateFormat()</li>
                                <li>Comment</li>
                            </ul>
                        </div>
                        <div class="latest-blog-item-text">
                            <h5>@article.Title</h5>
                            <p>
                                @(article.Body.Length > 200 ? article.Body.Substring(0, 200) + " ..." : article.Body)
                            </p>
                            <a asp-action="Details" asp-controller="Articles" asp-route-id="@article.Id">View More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>