@model BraAuto.ViewModels.UserCarSearchBaseModel
@using BraAuto.ViewModels;
@using BraAutoDb.Models
@using BraAutoDb.Dal
@inject IConfiguration Configuration

@{
    var loggedUser = (User)ViewBag.LoggedUser;
    var isFavouritePage = Model is FavouriteCarModel;
    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}

<section class="table-list-section spad">
    <div class="container">
        <div class="row">
            <partial name="_UserSettingsPartial">
                @if (Model.Response.Records.IsNullOrEmpty())
                {
                    <div class="col-lg-9">There are no cars yet.</div>
                }
                else
                {
                    <div class="col-lg-9">
                        <partial name="_OrderListPartial" model="Model.ToPager()" />
                        <partial name="_AlertPartial" />

                        <table class="table table-hover">
                            <thead>
                                <tr class="my-car-settings-thead">
                                    <th scope="col"></th>
                                    <th scope="col">Car</th>
                                    @if (isFavouritePage)
                                    {
                                        <th scope="col">Created At</th>
                                    }
                                    else
                                    {
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                    }
                                    @if (!isFavouritePage && loggedUser.IsService())
                                    {
                                        <th scope="col"></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var userCar in Model.Response.Records)
                                {
                                    var car = userCar.Car;
                                    <tr>
                                        <td><img class="table-photo" src="@(cloudinaryUrl + car.PhotoUrls.FirstOrDefault())" /></td>
                                        <td class="align-middle"><a asp-action="Details" asp-controller="Cars" asp-route-id="@car.Id">@car.Model.Make.Name @car.Model.Name @car.Variant</a></td>
                                        @if (isFavouritePage)
                                        {
                                            <td class="align-middle">@car.CreatedAt.ToWebDateFormat()</td>
                                        }
                                        else
                                        {
                                            <td class="align-middle">@userCar.Date.Value.ToWebDateFormat()</td>
                                            <td data-user-car-id="@userCar.Id" data-user-car-type-id="@userCar.UserCarTypeId" class="align-middle status">
                                                <i title="Not Approved" data-user-car-type-id="@Db.UserCarTypes.ServiceAppointmentId" class="fa-regular fa-circle status-icon me-1 opacity-50"></i>
                                                <i title="Approved" data-user-car-type-id="@Db.UserCarTypes.ServiceAppointmentApprovedId" class="fa fa-check-circle status-icon me-1 opacity-50"></i>
                                                <i title="Car Inspecting" data-user-car-type-id="@Db.UserCarTypes.InspectionId" class="fa-solid fa-magnifying-glass status-icon me-1 opacity-50"></i>
                                                <i title="Car Repairing" data-user-car-type-id="@Db.UserCarTypes.RepairingId" class="fa-solid fa-wrench status-icon me-1 opacity-50"></i>
                                                <i title="Car Repaired" data-user-car-type-id="@Db.UserCarTypes.FinishedId" class="fa-solid fa-clipboard-check status-icon me-1 opacity-50"></i>
                                            </td>
                                        }
                                        @if (!isFavouritePage && loggedUser.IsService())
                                        {
                                            <td class="text-nowrap align-middle ms-3">
                                                <a asp-action="Delete" asp-route-id="@userCar.Id" title="Delete" data-bs-toggle="tooltip" data-placement="bottom" class="confirm-dialog-trigger" data-dialog-title="Delete" data-dialog-message="Are you sure you want to delete @car.Model.Make.Name @car.Model.Name @car.Variant?"><i class="far fa-trash-alt"></i></a>
                                            </td>
                                        }
                                    </tr>
                                    if (!isFavouritePage && !string.IsNullOrEmpty(userCar.Description))
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <h4>Description</h4>
                                                <div class="text-prewrap">@userCar.Description</div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <partial name="_PagedListPartial" model="Model.ToPager()" />
                    </div>
                }
        </div>
    </div>
</section>

@if (!isFavouritePage)
{
    <script>
        $(document).ready(function () {
            $(".status").each(function () {
                var userCarTypeId = $(this).data("user-car-type-id");

                $(this).find("i").each(function () {
                    $(this).removeClass("opacity-50");

                    if ($(this).data("user-car-type-id") == userCarTypeId) {
                        return false;
                    }
                });
            });
        });
    </script>

    @if (loggedUser.IsService())
    {
        <script>
            $(document).ready(function () {
                $(".status").find("i").css("cursor", "pointer");

                $(".status").each(function () {
                    var $status = $(this);
                    var userCarTypeId = $status.data("user-car-type-id");
                    var userCarId = $status.data("user-car-id");

                    $(this).find("i").each(function () {
                        var newUserCarTypeId = $(this).data("user-car-type-id");

                        $(this).on("click", function () {
                            $.ajax({
                                url: @Html.Raw(Json.Serialize(Url.Action("Edit", "UserCarsApi"))),
                                type: 'GET',
                                data: { id: userCarId, userCarTypeId: newUserCarTypeId },
                                success: function (response, status, xhr) {
                                    if (response) {
                                        var $statusBtns = $status.find("i");

                                        $statusBtns.each(function (i) {
                                            $(this).removeClass("opacity-50");

                                            if ($(this).data("user-car-type-id") == newUserCarTypeId) {
                                                $statusBtns.slice(i + 1).each(function () {
                                                    $(this).addClass("opacity-50");
                                                });

                                                return false;
                                            }
                                        });
                                    }
                                }
                            });
                        });
                    });
                });
            });
        </script>
    }
}
