@model BraAuto.ViewModels.UserBaseModel
@using BraAuto.ViewModels;
@using BraAutoDb.Models;
@inject IConfiguration Configuration

@{
    var isRegisterPage = Model is UserRegisterModel;
    var loggedUser = (User)ViewBag.Loggeduser;
    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}

<style>
    .user-photo{
        width: 55%;
    }

    .user-photo input{
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
</style>

<section class="contact spad">
    <form asp-action="@(isRegisterPage ? "Register" : "Edit")" asp-controller="Users" method="post" enctype="multipart/form-data">

        @if (!isRegisterPage)
        {
            <input asp-for="@(((UserEditModel)Model).Id)" type="hidden" />
        }

        <div class="container">
            <div class="row">
                @if (!isRegisterPage)
                {
                    <partial name="_UserSettingsPartial" />
                }
                <div class="@(isRegisterPage ? "col-lg-6 col-md-6" : "col-lg-4 col-md-4")">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="contact__form">
                        @if (isRegisterPage)
                        {
                            <div class="form-group">
                                <label asp-for="@(((UserRegisterModel)Model).Username)" class="form-label"></label>
                                <input asp-for="@(((UserRegisterModel)Model).Username)" class="form-control" />
                                <span asp-validation-for="@(((UserRegisterModel)Model).Username)"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@(((UserRegisterModel)Model).Email)" class="form-label"></label>
                                <input asp-for="@(((UserRegisterModel)Model).Email)" class="form-control" />
                                <span asp-validation-for="@(((UserRegisterModel)Model).Email)"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@(((UserRegisterModel)Model).Password)" class="form-label"></label>
                                <input type="password" asp-for="@(((UserRegisterModel)Model).Password)" class="form-control" />
                                <span asp-validation-for="@(((UserRegisterModel)Model).Password)"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@(((UserRegisterModel)Model).ConfirmPassword)" class="form-label"></label>
                                <input type="password" asp-for="@(((UserRegisterModel)Model).ConfirmPassword)" class="form-control" />
                                <span asp-validation-for="@(((UserRegisterModel)Model).ConfirmPassword)"></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label asp-for="@(((UserEditModel)Model).Username)" class="form-label"></label>
                                <input asp-for="@(((UserEditModel)Model).Username)" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label asp-for="@(((UserEditModel)Model).Email)" class="form-label"></label>
                                <input asp-for="@(((UserEditModel)Model).Email)" class="form-control" disabled />
                            </div>
                        }

                        <div class="form-group">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name"></span>
                        </div>

                        @if (loggedUser != null && loggedUser.IsAdmin())
                        {
                            <div class="form-group">
                                <label asp-for="@(((UserEditModel)Model).UserRoleIds)" class="form-label"></label>
                                <lazymultiselect asp-for="@(((UserEditModel)Model).UserRoleIds)" lms-request-url="@Url.Action("GetAll", "UserRolesApi", new { area = "" })" lms-map-func="response.map(function(ur){ return { value: ur.id, label: ' '+ur.name }; })" lms-config="buttonText: 'Selected', noneSelectedText: '-- All --', buttonClass: 'form-select', selectClass: 'filter'"></lazymultiselect>
                                <span asp-validation-for="@(((UserEditModel)Model).UserRoleIds)"></span>
                            </div>
                            <div class="form-check mt-3">
                                <label asp-for="@(((UserEditModel)Model).IsActive)" class="form-check-label"></label>
                                <input type="checkbox" asp-for="@(((UserEditModel)Model).IsActive)" class="form-check-input" />
                                <span asp-validation-for="@(((UserEditModel)Model).IsActive)"></span>
                            </div>
                        }

                        <div class="form-group mt-3 service-field d-none user-photo">
                            <div class="photo-preview"></div>
                            <label class="btn btn-primary">
                                Upload
                                <input type="file" class="upload-file photo" asp-for="Photo" value="Upload Photo" />
                            </label>
                            <span asp-validation-for="Photo"></span>
                        </div>
                    </div>
                </div>
                <div class="@(isRegisterPage ? "col-lg-6 col-md-6" : "col-lg-4 col-md-4")">
                    <div class="contact__form">
                        <div class="form-group">
                            <label asp-for="Birthday" class="form-label"></label>
                            <flatpickr asp-for="Birthday" class="form-control" />
                            <span asp-validation-for="Birthday"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mobile" class="form-label"></label>
                            <input asp-for="Mobile" class="form-control" />
                            <span asp-validation-for="Mobile"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserTypeId" class="form-label"></label>
                            <select class="form-select" asp-for="UserTypeId" asp-items="@(new SelectList(Model.UserTypes.Select(ut => new { Fullname = ut.Name, Id = ut.Id}), "Id", "Fullname"))">
                                <option value="">Select User Type</option>
                            </select>
                            <span asp-validation-for="UserTypeId"></span>
                        </div>
                        <div class="form-group service-field d-none">
                            <label asp-for="LocationId" class="form-label"></label>
                            <select class="form-select" asp-for="LocationId" asp-items="@(new SelectList(Model.Locations.Select(l => new { Fullname = l.Name, Id = l.Id}), "Id", "Fullname"))">
                                <option value="">Select Location</option>
                            </select>
                            <span asp-validation-for="LocationId"></span>
                        </div>
                        <div class="form-group service-field d-none">
                            <label asp-for="SpecificLocation" class="form-label"></label>
                            <input asp-for="SpecificLocation" class="form-control" />
                            <span asp-validation-for="SpecificLocation"></span>
                        </div>
                        <div class="form-group service-field d-none">
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="BookingIntervalHours" class="form-label"></label>
                                    <input type="number" asp-for="BookingIntervalHours" class="form-control" min="0" />
                                    <span asp-validation-for="BookingIntervalHours"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="MaxBookingsPerDay" class="form-label"></label>
                                    <input type="number" asp-for="MaxBookingsPerDay" class="form-control" min="0" />
                                    <span asp-validation-for="MaxBookingsPerDay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group service-field d-none">
                            <label asp-for="StartWorkingTime" class="form-label"></label>
                            <div class="input-group">
                                <input type="number" asp-for="StartWorkingTime" class="form-control" min="0" max="23">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">To</span>
                                </div>
                                <input type="number" asp-for="EndWorkingTime" class="form-control" min="0" max="23">
                            </div>
                        </div>
                        <div class="form-group service-field d-none">
                            <label asp-for="Description" class="form-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="@(isRegisterPage ? "text-center" : "edit-profile-btn")">
                <button type="submit" class="site-btn">@(isRegisterPage ? "Register" : "Edit")</button>
            </div>
        </div>
    </form>
</section>

<script>
    $(document).ready(function () {
        var $serviseFields = $(".service-field");

        $(".upload-file").on("change", function () {
            var $uploadFile = $(this);
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) { return; }

            if (/^image/.test(files[0].type)) {
                var reader = new FileReader();
                reader.readAsDataURL(files[0]);

                reader.onloadend = function () {
                    $('.photo-preview').css("background-image", "url(" + this.result + ")");
                }
            }
        });

        $("#UserTypeId").on("change", function () {
            loadUserFields();
        });

        loadUserFields();

        function loadUserFields() {
            var value = $("#UserTypeId").val();

            if (value == @BraAutoDb.Dal.Db.UserTypes.ServiceId) {
                $serviseFields.each(function () {
                    $(this).removeClass("d-none");
                });
            } else {
                $serviseFields.each(function () {
                    var $field = $(this);

                    $field.find("input, textarea, select").val("");
                    $field.addClass("d-none");
                });
            }
        }
    });
</script>

@if (!isRegisterPage)
{
    <script>
        $(document).ready(function () {
            $('.photo-preview').css("background-image", "url(@(cloudinaryUrl + ((UserEditModel)Model).PhotoUrl))");
        });
    </script>
}