@using BraAutoDb.Models;

@{
    var loggedUser = (User)ViewBag.LoggedUser;
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-lg-3">
    <div class="car__sidebar">
        <div class="my-car-settings">
            @if (loggedUser.IsAdmin())
            {
                <span>Admin Panel</span>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link @(actionName == "Admin" && controllerName == "Cars" ? "active" : "")" data-toggle="tab" asp-action="Admin" asp-controller="Cars" role="tab">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(actionName == "Admin" && controllerName == "Articles" ? "active" : "")" data-toggle="tab" asp-action="Admin" asp-controller="Articles" role="tab">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(actionName == "Admin" && controllerName == "Users" ? "active" : "")" data-toggle="tab" asp-action="Admin" asp-controller="Users" role="tab">Users</a>
                    </li>
                </ul>
            }
            <span>Settings</span>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(actionName == "My" && controllerName == "Cars" ? "active" : "")" data-toggle="tab" asp-action="My" asp-controller="Cars" role="tab">My Cars</a>
                </li>
                @if (loggedUser.IsBlogger() || loggedUser.IsAdmin())
                {
                    <li class="nav-item">
                        <a class="nav-link @(actionName == "My" && controllerName == "Articles" ? "active" : "")" data-toggle="tab" asp-action="My" asp-controller="Articles" role="tab">My Articles</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link @(actionName == "Edit" ? "active" : "")" data-toggle="tab" asp-action="Edit" asp-controller="Users" asp-route-id="@loggedUser.Id" role="tab">Edit profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(actionName == "ChangePassword" ? "active" : "")" data-toggle="tab" asp-action="ChangePassword" asp-controller="Users" role="tab">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" asp-action="LogOff" asp-controller="Users" role="tab">Log Off</a>
                </li>
            </ul>
        </div>
    </div>
</div>