@model BraAuto.ViewModels.UserServiceSearchModel

@{
    ViewBag.Title = "Service";
    var cloudinaryUrl = Configuration["Cloudinary:Url"] + Configuration["Cloudinary:AppName"] + "/";
}

<partial name="_BreadcrumbPartial" model="Model.ToBreadcrumb()" />

<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @if (Model.Response.Records.IsNullOrEmpty())
                {
                    <span>There are no services</span>
                }
                else
                {
                    <partial name="_OrderListPartial" model="Model.ToPager()" />
                    <div class="row">
                        @foreach (var service in Model.Response.Records)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog-item">
                                    <div class="blog-item-pic set-bg" data-setbg="@(cloudinaryUrl + service.PhotoUrl)">
                                        <ul>
                                            <li>@service.CreatedAt.ToWebDateFormat()</li>
                                            <li>Location: @Model.Locations.First(l => l.Id == service.LocationId).Name @(!string.IsNullOrEmpty(service.SpecificLocation) ? $"({service.SpecificLocation})":"")</li>
                                        </ul>
                                    </div>
                                    <div class="blog-item-text">
                                        <h5><a asp-action="ServiceDetails" asp-route-id="@service.Id">@service.Name</a></h5>
                                        <p>
                                            @(service.Description.Length > 200 ? service.Description.Substring(0, 200) + " ..." : service.Description)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <partial name="_PagedListPartial" model="Model.ToPager()" />
                }
            </div>
            <div class="col-lg-3 col-md-6 col-sm-9">
                <div class="blog-sidebar">
                    <form asp-action="ServiceSearch" method="get" class="blog-sidebar-search">
                        <input type="text" asp-for="Keywords" placeholder="Search...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="blog-sidebar-categories">
                        <h4>Locations</h4>
                        <ul>
                            @foreach (var location in Model.Locations)
                            {
                                <li><a asp-action="ServiceSearch" asp-route-locationId="@location.Id">@location.Name</a></li>
                            }
                        </ul>
                    </div>
                    <a asp-action="ServiceBookAppointment" class="primary-btn sidebar-btn"><i class="fa fa-sliders"></i> Service Check</a>
                </div>
            </div>
        </div>
    </div>
</section>